* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.medsos {
	padding:5px 0;
	background-color: #51CA82;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}
.container {
	width:80%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}
header {
	background-color: white;
	width: 100%; /* Menjadikan lebar 100% dari parent */
}
header h1 {
	float: left;
	padding:15px 0;
	color: #51CA82;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
	transition: 0.5s;
}
header ul li a:hover {
	background-color: #51CA82;
	color: #fff;
	transform: scale(0.98);
}
section {
	padding: 50px 0;
}
section h3 {
	text-align: center;
	padding: 20px 0;
	color:#51CA82;
}
section {
	padding: 50px 0;
}
section h3 {
	text-align: center;
	padding: 20px 0;
	color: #51CA82;
	margin-bottom: 25px;
}
.label {
	background-color: #51CA82;
	color: #ffffff;
}
.label-text {
    font-size: 24px; 
    font-weight: bold; 
    color: rgb(255, 255, 255); 
    cursor: ; 
    transition: color 0.3s ease; 
}
.label p {
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
	background-color: #f0f0f0;
	overflow-x: hidden;
}

.isinya {
    background-color: ;
    
}

header {
    padding: 10px;
    text-align: center;
    
}

h1, h2, h3 {
    color: #333;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	flex: 1;
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%; /* Menjadikan lebar 100% dari layar */
    position: fixed; /* Fixed position agar tetap di bagian bawah layar */
    bottom: 0;
	left: 0;
    right: 0;
	z-index: 1000;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.background img {
    max-width: 50%;
	margin-right: 20px;
	height: auto;
}





.purchase-options {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: absolute;
    top: 0; /* Sesuaikan nilai top sesuai kebutuhan */
    right: 250px;
    margin-top: 430px;
}	
.purchase-option {
	width: 250px; /* Tetapkan lebar tetap */
	height: 40px; /* Tetapkan tinggi tetap */
	margin-bottom: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.purchase-option:hover {
	text-decoration: underline;

}     

.content-wrapper {
    width: 100%;
    max-width: 800px;
}

.garist {
    background-color: #51CA82;
	
    width: 100%;
    height: 0px; /* Sesuaikan ketebalan garis sesuai kebutuhan */
    margin: 129px 0; /* Sesuaikan margin sesuai kebutuhan */
}

.shopee {
	background-color: #EE4D2D;
	color: #fff;
}

.tokopedia {
	background-color: #41b549;
	color: #fff;
}

.lazada {
	background-color: #000083;
	color: #fff;
}

.garis {
	background-color: #51CA82;
}
h1 {
    text-align: center;
}

.kalimat{
	margin-top: 50px;
	margin-bottom: 0;
	position: relative;
}

/* Gaya Responsif */





@media only screen and (min-width: 0px) and (max-width: 350px) {
	 /* Aturan CSS responsif untuk layar kecil (kurang dari atau sama dengan 450px) */
	 header h1 {
        font-size: 20px;
    }

	html {
        overflow-x: hidden; /* Menyembunyikan scroll horizontal pada layar kecil */
    }

	.kategori .box .col-7 {
		margin: 20px;
	}
	.banner {
        background-size: cover;
        background-position: center;
        height: 100px; /* Sesuaikan tinggi container banner sesuai kebutuhan */
		align-items: center;
		justify-content: center;

    }

	.banner h2 {
		text-align: center;
	}

	body {
		overflow-x: hidden !important;
		width: 100%;
		overflow: hidden;
	}

	

    header ul li a {
        padding: 12px 16px;
    }

    .banner h2 {
        font-size: 18px;
    }

    .box .col-4,
    .box .col-7 {
        width: 100%; /* Lebar penuh pada layar kecil */
        margin-right: 0; /* Hilangkan margin kanan */
        margin-bottom: 10px;
    }

	.gambar {
        grid-template-columns: 1fr; /* Set satu kolom pada layar kecil */
    }

	.gambargerak {
		overflow: auto; /* Menambahkan scroll horizontal jika gambar terlalu lebar */
	}

	.gambargerak img {
		width: auto; /* Menyesuaikan lebar gambar agar tidak melebihi lebar kontennya */
		height: 100; /* Menyesuaikan tinggi gambar agar proporsional */
		max-width: 100%; /* Membuat gambar tidak melebihi lebar container */
		max-height: 100%; /* Membuat gambar tidak melebihi tinggi container */
	}

	.gambargerak marquee {
		width: 100%; /* Menyesuaikan lebar marquee dengan lebar container */
	}

    .gambar .foto img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: none; /* Hapus efek transisi untuk gambar */
		grid-template-columns: 1fr;
    }

    .rekomendasi h3 {
        padding: 5px;
        font-size: 16px;
    }
    
	.nav-item {
		margin-right: 10px;
	}
	.purchase-options {
		position: absolute; /* Mengubah posisi menjadi statis agar berada di samping gambar */
		margin-top: 290px; /* Menghapus margin top */	
		margin-right: -240px; /* Menghapus margin right */
		margin-bottom: 10px; /* Menambah margin bottom agar terlihat lebih baik */
		display: flex; /* Menggunakan flexbox agar berada dalam satu baris dengan gambar */
		justify-content: space-between; /* Mengatur jarak antara elemen di dalam flex container */
	}
	
	.purchase-option {
		width: 55px; /* Menghapus lebar tetap */
		height: 1px; /* Menghapus tinggi tetap */	
		font-size: 7px; /* Tetapkan ukuran font */
	}
	
	.kalimat{
		margin-top: 20px;
	}
}

@media only screen and (min-width: 350px) and (max-width: 555px) {
    /* Aturan CSS responsif untuk layar kecil (kurang dari atau sama dengan 450px) */
    header h1 {
        font-size: 20px;
    }

	html {
        overflow-x: hidden; /* Menyembunyikan scroll horizontal pada layar kecil */
    }

	.kategori .box .col-7 {
		margin: 20px;
	}
	.banner {
        background-size: cover;
        background-position: center;
        height: 100px; /* Sesuaikan tinggi container banner sesuai kebutuhan */
		align-items: center;
		justify-content: center;

    }

	.banner h2 {
		text-align: center;
	}

	body {
		overflow-x: hidden !important;
		width: 100%;
	}

    header ul li a {
        padding: 12px 16px;
    }

    .banner h2 {
        font-size: 18px;
    }

    .box .col-4,
    .box .col-7 {
        width: 100%; /* Lebar penuh pada layar kecil */
        margin-right: 0; /* Hilangkan margin kanan */
        margin-bottom: 10px;
    }

	.gambar {
        grid-template-columns: 1fr; /* Set satu kolom pada layar kecil */
    }

	.gambargerak {
		overflow: auto; /* Menambahkan scroll horizontal jika gambar terlalu lebar */
	}

	.gambargerak img {
		width: auto; /* Menyesuaikan lebar gambar agar tidak melebihi lebar kontennya */
		height: 100; /* Menyesuaikan tinggi gambar agar proporsional */
		max-width: 100%; /* Membuat gambar tidak melebihi lebar container */
		max-height: 100%; /* Membuat gambar tidak melebihi tinggi container */
	}

	.gambargerak marquee {
		width: 100%; /* Menyesuaikan lebar marquee dengan lebar container */
	}

    .gambar .foto img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: none; /* Hapus efek transisi untuk gambar */
		grid-template-columns: 1fr;
    }

    .rekomendasi h3 {
        padding: 5px;
        font-size: 16px;
    }
    
	.nav-item {
		margin-right: 10px;
		}
    .purchase-option {
		width: 95px; /* Tetapkan lebar tetap */
		height: 5px; /* Tetapkan tinggi tetap */
		font-size: 12px;
	}	
	.purchase-options {
		margin-top: 330px;
		right: 20px;
	}
	.kalimat{
		margin-top: 20px;
	}   
}

@media only screen and (min-width: 555px) and (max-width: 800px) {
    /* Aturan CSS responsif untuk layar kecil hingga sedang */
	.banner {
        background-size: cover;
        background-position: center;
        height: 300px;
    }
	body {
		overflow-x: hidden !important;
		width: 100%;
	}
	html {
        overflow-x: hidden; /* Menyembunyikan scroll horizontal pada layar kecil */
    }

    .box .col-4,
    .box .col-7 {
        width: 100%; /* Lebar gambar setengah dari lebar kontainer */
        margin-right: 4%; /* Menambah margin antara gambar */
        margin-bottom: 10px; /* Menambah margin bawah agar gambar tidak terpotong */
    }

    .box .col-4:nth-child(2n),
    .box .col-7:nth-child(2n) {
        margin-right: 0; /* Menghilangkan margin kanan pada setiap gambar kedua di setiap baris */
    }



	.gambar{
		grid-template-columns: 1fr 1fr ;
	 } 

	 .gambargerak {
		overflow: auto; /* Menambahkan scroll horizontal jika gambar terlalu lebar */
	}

	.gambargerak img {
		width: auto; /* Menyesuaikan lebar gambar agar tidak melebihi lebar kontennya */
		height: 100; /* Menyesuaikan tinggi gambar agar proporsional */
		max-width: 100%; /* Membuat gambar tidak melebihi lebar container */
		max-height: 100%; /* Membuat gambar tidak melebihi tinggi container */
	}

	.gambargerak marquee {
		width: 100%; /* Menyesuaikan lebar marquee dengan lebar container */
	}

    .gambar .foto img {
        width: 100%;
        height: auto;
        object-fit: cover;
        transition: none; /* Hapus efek transisi untuk gambar */
    }
	.purchase-option {
		width: 100px; /* Tetapkan lebar tetap */
		height: 20px; /* Tetapkan tinggi tetap */
		font-size: 12.7px;
	}	
	.purchase-options {
		margin-top: 400px;
		right: 70px;
	}
	.kalimat{
		margin-top: 70px;
	}
}



/* Layar besar (lebih dari 768px) */
@media only screen and (min-width: 800px) and (max-width: 1000px){
    /* Aturan CSS responsif untuk layar besar */
	.banner {
        background-size: cover;
        background-position: center;
        height: 300px;
    }
	body {
		overflow-x: hidden !important;
		width: 100%;
	}
	html {
        overflow-x: hidden; /* Menyembunyikan scroll horizontal pada layar kecil */
    }

    .box .col-4,
    .box .col-7 {
        width: 100%; /* Lebar gambar setengah dari lebar kontainer */
        margin-right: 4%; /* Menambah margin antara gambar */
        margin-bottom: 10px; /* Menambah margin bawah agar gambar tidak terpotong */
    }

    .box .col-4:nth-child(2n),
    .box .col-7:nth-child(2n) {
        margin-right: 0; /* Menghilangkan margin kanan pada setiap gambar kedua di setiap baris */
    }

	.gambar{
		grid-template-columns: 1fr 1fr 1fr;
	 } 

	 .gambargerak {
		overflow: auto; /* Menambahkan scroll horizontal jika gambar terlalu lebar */
	}

	.gambargerak img {
		width: auto; /* Menyesuaikan lebar gambar agar tidak melebihi lebar kontennya */
		height: 100; /* Menyesuaikan tinggi gambar agar proporsional */
		max-width: 100%; /* Membuat gambar tidak melebihi lebar container */
		max-height: 100%; /* Membuat gambar tidak melebihi tinggi container */
	}

	.gambargerak marquee {
		width: 100%; /* Menyesuaikan lebar marquee dengan lebar container */
	}

    .gambar .foto img {
        width: 100%;
        object-fit: cover;
        transition: none; /* Hapus efek transisi untuk gambar */
		height: auto;

    }
	.purchase-option {
		width: 150px; /* Tetapkan lebar tetap */
		height: 30px; /* Tetapkan tinggi tetap */
		font-size: 12.7px;
	}	
	.purchase-options {
		margin-top: 450px;
		right: 80px;
	}
	.kalimat{
		margin-top: 70px;
	}
}

